body {
    margin: 0;
    font-size: 62.5%;
    color:white;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    background-repeat: no-repeat;

    background: linear-gradient(to bottom right, #FFC0CB, #87CEFA);

}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    width: 350px;
    height: 500px;
    background: linear-gradient(45deg, #37273c, #4e3059);
    opacity: 0.75;
    margin: auto;
    padding:0;
    border-radius: 6px;
 
}
.buttons {
    display: grid;
    
    grid-template-columns: 25% 25% 25% 25% ;
    background-color: inherit;
    width: 96%;
    height: 300px;
    margin:0 2%;
    
    
}
.btn {
    background-color: #3b3b3b;
    border: 1px solid black;
    display: flex;
    
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 5px;
    margin:1.5%;
    transition: 0.4 ease all;
    color:white;
    opacity: 0.9;
}
.btn:hover {
    filter: brightness(80%);
}
.result {
    background-color: blueviolet;
}
.pole {
    display: block;
    width: 90%;
    height: 70px;
    padding: 15px;
    margin:10px 0;
    color:white;
    text-align: right;
    font-size: 4rem;
}
.header {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
iconify-icon:hover {
    filter: brightness(115%);
}
.remove-all, .remove {
    font-size: 1.5rem;

}